[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crypto = "*"
pyopenssl = "*"
black = "*"
netifaces = "*"
cryptography = "==2.5"
flake8 = "*"
matplotlib = "*"
xlsxwriter = "*"
numpy = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
